---

- name: ovirt_vm_delete | Shutdown and delete VM oVirt
  connection: local
  ovirt_vm:
    auth:
      hostname: "{{ ovirt_auth_url }}"
      username: "{{ ovirt_auth_user }}"
      password: "{{ ovirt_auth_password }}"
      ca_file: "{{ ovirt_auth_cafile }}"
    name: "{{ ovirt_vm_name }}"
    state: absent
